body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

canvas {
  border: 1px solid #fff;
}

.fps-display {
  position: absolute;
  color: white;
  font-size: 20pt;
  left: 20px;
  top: 10px;
}